.task-list {
    &__item:has(input:checked) label {
        color: hsl(200, 20%, 40%);
    }

    &__item {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        margin-bottom: 0.5rem;
    }

    &__item label {
        display: flex;
        gap: 0.5rem;
        cursor: pointer;
        align-items: center;
    }

    &__item:has(input:focus-visible) label {
        outline: 1px solid hsl(200, 100%, 50%);
    }

    &__item input {
        outline: none;
        width: 0;
        height: 0;
        appearance: none;
        pointer-events: none;
        position: absolute;
    }

    &__item label::before {
        content: "";
        display: block;
        width: 0.9rem;
        height: 0.9rem;
        background: hsl(200, 100%, 90%);
        border-radius: 0.25em;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__item label:hover::before {
        background: hsl(200, 100%, 80%);
    }

    &__item:has(input:checked) label::before {
        content: "✔";
        background: hsl(200, 100%, 40%);
        color: hsl(200, 100%, 90%);
        font-size: 0.75rem;
        font-weight: bold;
    }

    &__item:has(input:checked) label:hover::before {
        background: hsl(200, 100%, 30%);
    }

    &__delete {
        font-size: 0.875rem;
        font-weight: bold;
        letter-spacing: 1px;
        background: hsl(0, 100%, 40%, 0.1);
        border: 1px solid hsl(0, 100%, 40%);
        color: hsl(0, 100%, 40%);
        padding: 0.25em 0.5em;
        border-radius: 0.25em;
        cursor: pointer;
        outline: none;
    }

    &__delete:hover,
    &__delete:focus-visible {
        background: hsl(0, 100%, 40%, 0.2);
    }
}
