.paralax {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 740px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 15px;
    padding-right: 15px;
    font-family: Arial, sans-serif;

    @media screen and (min-width: 768px) {
        padding-left: 30px;
        padding-right: 30px;
    }

    @media screen and (min-width: 1025px) {
        padding-left: 45px;
        padding-right: 45px;
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0.3;
    }
}
