.nothing-found-404 {
    height: 75vh;
    display: flex;
    align-items: center;

    a {
        background-image: linear-gradient(to right, hsl(199, 89%, 63%), hsl(245, 100%, 75%));
        color: transparent;
        background-clip: text;
        transition: color 0.32s ease-in-out;
        
        &:hover {
            color: hsl(245, 100%, 75%);
        }
    }
}