.destination-card {
    padding: 24px;
    background-color: hsl(218, 25%, 15%);
    box-shadow: 0 5px 15px 5px hsla(218, 25%, 15%, 0.5);
    border-radius: 24px;
    box-sizing: border-box;
    overflow: hidden;
    transition: box-shadow 320ms ease-in-out;
    display: flex;
    flex-direction: column;
    height: 100%;

    &:hover {
        box-shadow: 0 5px 20px 10px hsla(215, 26%, 18%, 0.5);
    }

    @media (min-width: 768px) {
        &__image-holder {
            margin-bottom: 24px;
        }
    }

    .cta-internal-link {
        margin-top: auto;
    }
}
