.scroll-top {
    position: fixed;
    display: flex;
    right: 10px;
    bottom: 20px;
    width: 36px;
    height: 36px;
    font-size: 2.25rem;
    z-index: 1;
    color: hsl(263, 94%, 65%);
    
    svg {
        cursor: pointer;
    }

    @media screen and (min-width: 768px) {
        right: 20px;
        bottom: 40px;
        width: 48px;
        height: 48px;
        font-size: 3rem;
    }

    @media screen and (min-width: 1200px) {
        right: 60px;
    }
}
