.slider {
    padding: 30px 0 45px;

    @media (min-width: 768px) {
        padding: 45px 0 60px;
    }

    @media (min-width: 1024px) {
        padding: 60px 0 75px;
    }

    .swiper {
        padding: 15px;
    }

    @media screen and (max-width: 1024px) {
        .swiper {
            padding-bottom: 50px;
        }
    }

    .swiper-slide {
        /* Center slide text vertically */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .swiper-button {
        &-prev {
            @media (min-width: 1400px) {
                left: calc(50% - 690px);
            }
        }

        &-next {
            @media (min-width: 1400px) {
                left: calc(50% + 660px);
            }
        }

        &-next::after,
        &-prev::after {
            font-weight: 700;
            color: hsl(200, 100%, 90%);

            @media screen and (max-width: 1023px) {
                display: none;
            }
        }
    }

    .swiper-pagination-bullet {
        width: var(
            --swiper-pagination-bullet-width,
            var(--swiper-pagination-bullet-size, 16px)
        );
        height: var(
            --swiper-pagination-bullet-height,
            var(--swiper-pagination-bullet-size, 16px)
        );
        opacity: 1;
        background: hsl(218, 25%, 15%);
        box-shadow: 0 1px 3px 1px hsla(218, 25%, 15%, 0.5);


        &.swiper-pagination-bullet-active {
            background: hsl(200, 100%, 90%);
        }
    }

    @media screen and (min-width: 1024px) {
        .swiper-pagination-bullet {
            display: none;
        }
    }

    .autoplay-progress {
        position: absolute;
        right: 16px;
        bottom: 16px;
        z-index: 10;
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: normal;
        color: hsl(200, 100%, 90%);

        @media (min-width: 1400px) {
            right: calc(50% - 690px);
        }
    }

    .autoplay-progress svg {
        --progress: 0;
        position: absolute;
        left: 0;
        top: 0px;
        z-index: 10;
        width: 100%;
        height: 100%;
        stroke-width: 2px;
        stroke: hsl(200, 100%, 90%);
        fill: none;
        stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
        stroke-dasharray: 125.6;
        transform: rotate(-90deg);
    }
}
